[submodule "api/user"]
	path = api/user
	url = https://github.com/katacseke/data-catalog-user-api.git
[submodule "api/asset"]
	path = api/asset
	url = https://github.com/katacseke/data-catalog-asset-api.git
[submodule "api/versioning"]
	path = api/versioning
	url = https://github.com/EnterRR/data-catalog-versioning-api.git
